/.idea

venv
play.py

*.pyc
/pyflow/build/lib
/build
/dist
/liteflow.egg-info
/.vs/pyflow/v15/*.suo
/.vscode
/core/liteflow.core.egg-info
/providers/azure/liteflow.providers.azure.egg-info
/providers/mongodb/liteflow.providers.mongo.egg-info
/core/liteflow/core/*.lock

**/dist/*.*

core/build/lib/liteflow/core/*.*
providers/azure/build/lib/liteflow/providers/azure/*.*
providers/mongodb/build/lib/liteflow/providers/mongo/*.*
