/.idea

venv
play.py

*.pyc
/pyflow/build/lib
/build
/dist
/liteflow.egg-info
/.vs/pyflow/v15/*.suo
/pyflow
/.vscode
/core/liteflow.core.egg-info
/providers/azure/liteflow.providers.azure.egg-info
/providers/mongodb/liteflow.providers.mongo.egg-info
/core/liteflow/core/*.lock
